@inherits LayoutComponentBase
@using ClientServerWebAppTemplate.UI.Framework.Alert
@using ClientServerWebAppTemplate.UI.Framework.Handlers
@using ClientServerWebAppTemplate.UI.Framework.Layout.Nav

<PageInteractionHandler>
    <Content>
        <NavMenu />
        <AlertContainer />
        <AbsoluteMenuPopupHandler />

        <div class="page flex-group flex flex-row relative w-full h-full dark:bg-neutral-700 dark:text-white">
            <main class="w-full h-full">
                <article class="h-full w-full relative">
                    @Body
                </article>
            </main>
        </div>
    </Content>
</PageInteractionHandler>