@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */

/* Layers */
@layer utilities {
    /* Resize handlers */
    .resize-override-max-height[style*="height"] {
        max-height: unset;
    }

    .markdown {
        @apply max-w-none prose prose-quoteless dark:prose-invert;
    }
}

/* Ignore the 'errors' in this style. 
    FILL    Fill            boolean flag, if true, fill the style.
    WGHT    Weight          value 100..700, indicates line tickness
    GRAD    Grade           value -25..200, changes emphasis of icon
    opsz    Optical Size    value 20..48, size of icon in pixels
*/
.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/*
    Styles for darkmode scrollbars
*/

.dark::-webkit-scrollbar {
    @apply bg-neutral-700;
}

.dark::-webkit-scrollbar-track {
    @apply bg-neutral-100;
}

.dark::-webkit-scrollbar-thumb {
    @apply bg-neutral-100;
}

.dark {
    scrollbar-color: #f5f5f5 #737373;
}
