﻿@inherits GoogleIconBase

<button class="transition-all ease-in-out duration-500 grid grid-flow-row grid-cols-1 content-center
		@((Flip ? !Value : Value) ? "scale-0 invisible" : "scale-100 visible") @OuterCss"
        @onclick="SetValueAsync">
    <GoogleIcon Icon="@Icon" Label="@Label" IconCss="@IconCss" LabelCss="@LabelCss" />
</button>